<div class="container-fluid">
    <div class="row">
        <div class="col">
            <img [src]="url" class="w-25">
            <input type="file" class="form-control" (change)="onSelectFile($event)">
        </div>
    </div>
</div>
<div class="row">
    <!-- <div class="col">
        <img [src]="url" class="w-25">
        <input type="file" #uploadFile (change)="ImageUpload($event)">
        <button class="btn btn-primary" (click)="uploadFile.click()">Check here toos</button>
    </div> -->
</div>