<!-- otp verification  -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  OTP1
</button>

<!-- 2 -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
  OTP2
</button>
<!-- 3 -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">
  OTP3
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg  modal-dialog-centered">
    <div class="modal-content p-4 m-3">
      <div class="modal-header text-center">
        <div class="modal-title w-100">
          <h2><b class="text-danger">OTP VERIFICATION</b></h2>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body justify-content-center">
        <div class="content tx">
          <p> OTP has been sent to Your Registered Mobile Number for Verification</p>
        </div>
        <div class="col-md-12 form-group text-center pt-2 ">
          <label c>Enter OTP</label>
          <input type="text" name="name" class="form-control mt-2 w-80" id="Department Name " placeholder="134556"
            required="">
        </div>
      </div>
      <div class="modal-footer justify-content-center">

        <button type="button" class="btn btn-primary">Verify</button>
        <button type="button" class="btn btn-secondary">Re-send OTP</button>
      </div>
    </div>
  </div>
</div>
<!-- end verification -->

<!-- confirmation tab -->


<!-- Modal -->
<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg  modal-dialog-centered">
    <div class="modal-content p-4 m-3">
      <div class="modal-header text-center">
        <div class="modal-title w-100">
          <h2><b class="text-danger">Confirm</b></h2>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body justify-content-center">
        <div class="content tx">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, consequuntur facilis ipsam
            necessitatibus corporis officia neque nisi nostrum iusto consequatur beatae, quisquam accusantium veritatis.
            Cupiditate ullam alias magnam consectetur repudiandae!</p>
        </div>
      </div>
      <div class="modal-footer justify-content-center">

        <button type="button" class="btn btn-primary btn-md ">Ok</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- end confirmation -->


<!-- status notification  -->

<!-- Modal -->
<div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg  modal-dialog-centered">
    <div class="modal-content p-4 m-3">
      <div class="modal-header text-center">

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body justify-content-center">
        <div class="content tx">
          <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum esse saepe nihil rerum accusantium ut
            nesciunt reiciendis. Ex repudiandae voluptatem excepturi,
            temporibus repellendus distinctio repellat earum ab magnam ipsa in!</p>

        </div>
        <div class="modal-footer justify-content-center">

          <button type="button" class="btn btn-primary">Ok</button>

        </div>
      </div>
    </div>
  </div>
  <!-- end confirmation -->