  <!-- ======= Hero Section ======= -->
<header id="header" class="fixed-top d-flex align-items-center header-transparent">
	<div class="container-fluid d-flex align-items-center justify-content-between">
		<div class="logo">
            <h1>
                <a href="index.html">
                    <span class="logo-sz"><img src="assets/maine-css/img/logo.png" alt="" class="img-fluid" /></span><span>Department of Finance</span><br>
                    <span><p>Integrated Financial Managment System</p></span>
                </a>
            </h1>
		</div>
		<nav id="navbar" class="navbar">
			<ul>
				<li><a class="nav-link scrollto active" href="manual.html">Manual</a></li>
				<li><a class="nav-link scrollto" href="faq.html"> FAQ</a></li>
				<li><a class="nav-link scrollto" href="helpdesk.html"> Helpdesk </a></li>
			</ul> <i class="bi bi-list mobile-nav-toggle"></i> </nav>
		
	</div>
</header> 
<section id="hero">
    <div class="container">
        <div class="justify-content-between">
            <div class="row ">
                <div class="col-md-5 offset-md-4 login-form">
                    <div class="main-div">
                        <div class="panel">
                            <h2>Master Data Management</h2>
                            <p>Please enter your details</p>
                        </div>
                        <form id="Login">
                            <div class="form-group">
                                <input type="email" class="form-control" id="inputEmail" placeholder="Admin Maker" />
                            </div>

                            <div class="form-group">
                                <select class="form-select form-select-lg mb-3" name="master">
                                    <option value="">
                                        Select
                                    </option>
                                    <option value="979" selected> Maker </option>
                                    <option value="951">Chacker</option>
                                    <option value="951">Approvel</option>
                                  </select>
                                
                            </div>

                            <a href="user-dashboard.html" class="btn btn-primary">Submit</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 
