<!-- ======= Footer ======= -->
<div class="mt-5">
    <h1 class="text-center"><b>Footer inner</b></h1>
<footer id="footer" class="po noPrint">
    
    <!-- <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-info">
                        <h3>
                            <a href="index.html" class="govt-txt">
                                <span class="logo-sz"><img src="assets/maine-css/img/logo-foote.png" alt="" class="img-fluid" width="20%" /></span><span>Government of Rajasthan</span>
                            </a>
                        </h3>
                        <p>
                            <strong>Phone:</strong> (441) 295-5151<br />
                            <strong>Email:</strong> ifms-rj@nic.in<br />
                        </p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Accessibility Statement </a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">About Us </a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Announcements </a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Website Policies </a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Sitemap</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Help Desk</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Post your Suggestion</h4>
                    <p>Write down your Suggestion here</p>
                    <form action="" method="post"><input type="email" name="email" /><a class="buttonE" href="#popup1">Email</a></form>

                    <br />
                    <br />

                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required="" />
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required="" />
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control" name="phonenumber" id="phonenumber" placeholder="Phone Number" required="" />
                        </div>
                        <div class="col-md-6 text-center"><button type="submit" class="buttonE">Send Email</button></div>
                    </div>

                    <div id="popup1" class="overlay">
                        <div class="popup">
                            <a class="close" href="#">&times;</a>
                            <div class="content tx">
                                Acknowledging and thanking for the suggestion
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="footer_inner">
        <div class="container">            
            <div class="footer-links text-center">
                <ul>
                    <li><a href="#">SiteMap </a></li>
                    <li><a href="#">Aprivacy Policy </a></li>
                    <li><a href="#">Disclaimer </a></li>
                    <li><a href="#">Contact Us </a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Announcements</a></li>
                    <li><a href="#"></a>Feedback</li>
                </ul>
            </div>
            
        
        <div class="copyright">
            <span style="font-size: 15px;"> © 2022 Government of Rajasthan. All Rights Reserved </span>&nbsp;
            
        </div>
        <div class="credits">
            <a href="#" class="text-decoration-none">Last Modified 19/08/2022 5:31 +00:00</a>
        </div>
    </div>
</div>

</footer>
</div>