   
  
    <!-- ======= Footer ======= -->
    <div class="mt-5">
        <h1 class="text-center"><b>Footer Landing</b></h1>
    <footer id="footer" >
        <div class="footer-top" >
            <div class="container" >
                <div class="row">
                    
                    <div class="col-lg-4 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Accessibility Statement </a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">About Us </a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Announcements </a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Website Policies </a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Sitemap</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Help Desk</a></li>
                        </ul>
                    </div>
                     <div class="col-lg-4 col-md-6 footer-links">
                        <h4>Help & Support</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">
Help </a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">
Feedback</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">
Terms & Conditions</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">
Contact Us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">
Weekly Newsletter</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">
Site Map</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Post your Suggestion</h4>
                        <p>Write down your Suggestion here</p>
                        <form action="" method="post"><input type="email" name="email" /><a class="buttonE" href="#popup1">Email</a></form>

                        

                        

                        <div id="popup1" class="overlay">
                            <div class="popup">
                                <a class="close" href="#">&times;</a>
                                <div class="content tx">
                                    Acknowledging and thanking for the suggestion
                                </div>
                            </div>
                        </div>
                        
                        
                        
                        
                        
                    </div>
                
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                © 2022 Government of Rajasthan. All Rights Reserved
            </div>
            <div class="credits"><a href="#">Last Modified 15/07/2022 5:31 +00:00</a></div>
        </div>
    </footer>
</div>
    <!-- End Footer -->
    


